In [1]:
import pandas as pd
import numpy as np

In [42]:
df = pd.read_csv('hello.csv')
display(df.head(5))
loss= (800007-df['instructions'].sum())/800007
print("Lost {} instructions of 800007 {:.3f}%".format(800007-df['instructions'].sum(), loss*100))

       time  instructions  cache_ll  branch_instructions  branch_misses
0  10442242         62209         8                15552              0
1  17125402         41265        22                10317              0
2  26982145         61672        10                15416              0
3  36919192         62321         3                15578              0
4  46989914         63193         1                15796              0

Lost 154 instructions of 800007 0.019%

In [43]:
df

         time  instructions  cache_ll  branch_instructions  branch_misses
0    10442242         62209         8                15552              0
1    17125402         41265        22                10317              0
2    26982145         61672        10                15416              0
3    36919192         62321         3                15578              0
4    46989914         63193         1                15796              0
5    57009068         63000         1                15750              0
6    67030166         62848         1                15712              0
7    77108638         63433         2                15857              0
8    87205874         63456         0                15862              0
9    97290063         63392         1                15848              0
10  107367939         63312         0                15828              0
11  117447158         63480         1                15870              0
12  127528269         63281         0                15821              0
13  128038225          2991         0                  746              1